{% extends 'base_generic.html' %}

{% block content %}
<div class="center-screen">
    <div class="login-form">
        <h2 class="login-form-caption">{{ title }}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button-submit" type="submit" value="Войти">
        </form>
        <div class="button-submit" style="margin-top: 1em">
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>

    </div>
</div>

{% endblock %}